<%= simple_form_for(@link, html: { class: "form-inline text-center" }) do |f| %>

<%= f.input :long_url, label: false, error: false do %>
<div class="input-group">
  <%= f.input_field :long_url, class: "form-control", placeholder: "Your URL" %> 
</div>
<% end %>

<%= f.button :submit, value: "Shorten URL", class: "bnt btn-primary" %>
<% end %>
