<div class="col-md-12">
  <%= render 'form' %>
</div>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Long url</th>
      <th>Short url</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
    <tr>
      <td><%= link.long_url %></td>
      <td><%= link_to code_url(request, link.code), link.code %></td>
      <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
